{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/loadingAnimation.css') }}">
{% endblock %}

{% block main %}

<div id="btn-seek">
    <a class="fs-3 btn btn-dark rounded" onclick="HideAndShowMainSection()" id="btnSeekMovies" 
    data-bs-toggle="modal" data-bs-target="#popupMoviesForm"><i class="bi bi-search pe-1"></i></a>
</div>

<div class="">

    <div id="loader"></div>
    

    <div class="container d-none" id="mainDiv">

        {% include "_popup/popupMovieForm.html.twig" %}
        {% include "_popup/popupMovie.html.twig" %}

        <section>

            {% if clearSessionForm %}
            <div class="row row-cols-2 border-bottom border-3 rounded">
                <div class="col-6 align-self-end">
                    <h3 class="text-end">Résultats
                    </h3>
                </div>
                <div class="col-6 align-self-start">
                    {{form_start(clearSessionForm)}}
                    {{form_widget(clearSessionForm.clear,{'label':'RAZ','attr': {'class':'text-start btn btn-secondary rounded'}})}}
                    {{form_end(clearSessionForm)}}
                </div>
            </div>
            {% else %}
            <div class="row row-cols-1 justify-content-center border-bottom border-3 rounded">
                <div class="col-12">
                    <h3 class="text-center">Films à l'affiche</h3>
                </div>
            </div>
            {% endif %}

            <div class="row row-cols-1 row-cols-lg-4 justify-content-center justify-content-lg-between pt-1">
                {% if movies.results|length > 0 %}
                {% for movie in movies.results %}

                <a class="bg-color-one col-6 col-lg-3 border border-dark rounded h-50 text-decoration-none m-1"
                    data-bs-toggle="modal" data-bs-target="#popupMovieDetailed" data-bs-title="{{movie.title}}"
                    data-bs-image={{movie.poster_path ? movie.poster_path  : '*'}} data-bs-link="{{ path('film',{ 'vid': movie.id} ) }}"
                    data-bs-overview="{{movie.overview}}">

                    <div class="p-1 text-center border-bottom border-secondary rounded">
                        <h5 class="text-color-three">{{movie.original_title}}</h5>
                    </div>

                    <div class="p-1 text-center">
                        {% if movie.poster_path != "" %}
                        <img class="img-fluid" src={{ tmdbBaseUrlPicture ~ movie.poster_path}}
                            alt="{{'Image de ' ~ movie.title}}">
                        {% else %}
                        <p class="position-relative text-light">{{movie.overview|capitalize|u.truncate(70,'..',false)}}<img
                                class="img-fluid" src="{{asset('/image/placeholderWhite.jpg')}}"
                                alt="placeholderWhite.jpg"><i
                                class="text-dark bi bi-camera-video-off-fill fs-1 position-absolute top-50 start-50 translate-middle"></i>
                        </p>
                        {% endif %}
                    </div>
                </a>
                {% endfor %}
                {% else %}
                <p class="text-center fst-italic">Aucun résultat à afficher</p>
                {% endif %}
            </div>
        </section>
    </div>

    {% endblock %}

    {% block javascripts %}
    <script src="{{asset('/js/loadingAnimation.js')}}"></script>
    <script src="{{asset('/js/fadeAnimation.js')}}"></script>
    <script>
        let btnSeekMoviesCancel = document.getElementById('movies_cancel');
        let moviesSection = document.querySelector('section');

        btnSeekMoviesCancel.setAttribute('onclick', "HideAndShowMainSection()")
        btnSeekMoviesCancel.setAttribute('data-bs-dismiss', "modal");
        btnSeekMoviesCancel.setAttribute('aria-label', "Close");

        function HideAndShowMainSection() {
            moviesSection.classList.toggle('d-none');
        }
    </script>
    {% endblock %}