{% extends 'base.html.twig' %}

{% block title %}Fiche {{movie.original_title|u.truncate(10)}}{% endblock %}

{% block main %}

<div class="container">

    <div class="row">
        <h3 class="col-12 text-center fw-bold">{{movie.original_title}}</h3>
    </div>

    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col">
            {% if movie.poster_path != "" %}
            <img class="img-fluid" src={{ tmdbBaseUrlPicture ~ movie.poster_path}} alt="{{'Image de ' ~ movie.title}}">
            {% else %}
            <p class="position-relative">Pas d'illustration<img class="img-50"
                    src="{{asset('/image/placeholderWhite.jpg')}}" alt="placeholderWhite.jpg"><i
                    class="bi bi-camera-video-off-fill fs-1 position-absolute top-50 start-50 translate-middle"></i>
            </p>
            {% endif %}
        </div>
        <div class="col">
            <div class="row row-cols-1">
                <div class="col pt-1">Sortie le : {{movie.release_date}}</div>
                <div class="col pt-1">Langue originale : {{movie.original_language}}</div>
                <div class="col pt-1">{{movie.overview}}</div>

                <p class="col pt-1 fst-italic">Catégorie :
                    {% for genre in movie.genres %}{{genre.name}}{% endfor %}
                </p>

                <div class="col text-center">
                    <span>{% for cie in movie.production_companies %}
                        {% if cie.logo_path %}
                        <img class="border border-3 rounded p-1 w-25" src="{{tmdbBaseUrlPicture ~ cie.logo_path}}"
                            alt="{{cie.name}}">
                        {% endif %}
                        {% endfor %}</span>
                </div>

                <div class="py-1 col-12 text-end">
                    <a class="btn btn-outline-dark fw-bold" href="{{path('films')}}">Retour</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}