<div class="modal fade" id="popupPeopleForm" tabindex="-1" aria-labelledby="popupPeopleForm" aria-hidden="true">

    {{form_start(peopleForm)}}

    <div class="modal-dialog">
        <div class="modal-content bg-light text-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="popupPeopleForm">Nouvelle recherche</h1>
            </div>
            <div class="modal-body">
                {{ form_row(peopleForm.name,{'label':'Nom ou Prénom'}) }}
                {{ form_row(peopleForm.language,{'label':'Langue de recherche'}) }}
            </div>
            <div class="modal-footer">
                {{ form_row(peopleForm.submit,{'label':'Rechercher', 'attr':{'class':'btn-primary'}}) }}
                {{ form_row(peopleForm.cancel,{'label':'Annuler', 'attr':{'class':'btn-outline-dark'}}) }}
            </div>
        </div>
    </div>

    {{form_end(peopleForm)}}

</div>


{% block javascripts %}
<script>
    let allInputFields = document.querySelectorAll('input');
    let dropdownMenu = document.getElementById('people_language');

    if (allInputFields) {
        allInputFields.forEach((vInput) => {
            vInput.classList.add("bg-dark");
            vInput.classList.add("text-light");
        })
    }

    if (dropdownMenu) {
        dropdownMenu.classList.add("bg-dark");
        dropdownMenu.classList.add("text-light");
    }

</script>
{% endblock %}